<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property resource="application.properties"/>
	<property name="timestampPattern" value="yyyy-MM-dd HH:mm:ss,SSS" />
	<property name="infoLogsDir" value="${WEB_APPLY_DIR:-${default.web.apply.dir}}/${logging.dir}/info" />
	<property name="errorLogsDir" value="${WEB_APPLY_DIR:-${default.web.apply.dir}}/${logging.dir}/error" />
	<property name="warnLogsDir" value="${WEB_APPLY_DIR:-${default.web.apply.dir}}/${logging.dir}/warn" />
	<property name="outputPattern" value="%X{x-request-id} %d{yyyy-MM-dd} | %d{HH:mm:ss.SSS} | %-20.20thread | %5p | %-25.25logger{25} | %12(ID: %8mdc{id}) | %m%n"/>

	<appender name="Console"
		class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>${outputPattern}</Pattern>
		</layout>
	</appender>

	<appender name="RollingFileInfo"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${infoLogsDir}/${logging.file.name}.log</file>
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>INFO</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>
		<encoder
			class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<Pattern>${outputPattern}</Pattern>
		</encoder>

		<rollingPolicy
			class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- rollover daily and when the file reaches 100 MegaBytes -->
			<fileNamePattern>${infoLogsDir}/${logging.file.name}-%d{dd-MM-yyyy}.%i.log
			</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>100MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
	</appender>

	<appender name="RollingFileError"
			  class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${errorLogsDir}/${logging.file.name}.log</file>
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>ERROR</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>
		<encoder
				class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<Pattern>${outputPattern}</Pattern>
		</encoder>

		<rollingPolicy
				class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- rollover daily and when the file reaches 100 MegaBytes -->
			<fileNamePattern>${errorLogsDir}/${logging.file.name}-%d{dd-MM-yyyy}.%i.log
			</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy
					class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>100MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
	</appender>

	<appender name="RollingFileWarn"
			  class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${warnLogsDir}/${logging.file.name}.log</file>
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>WARN</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>
		<encoder
				class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<Pattern>${outputPattern}</Pattern>
		</encoder>

		<rollingPolicy
				class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- rollover daily and when the file reaches 100 MegaBytes -->
			<fileNamePattern>${warnLogsDir}/${logging.file.name}-%d{dd-MM-yyyy}.%i.log
			</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy
					class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>100MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
	</appender>

	<logger name="ae.rakbank.webapply" additivity="false" level="ALL">
		<appender-ref ref="RollingFileInfo"/>
		<appender-ref ref="RollingFileError"/>
		<appender-ref ref="RollingFileWarn"/>
	</logger>

	<root level="info">
		<appender-ref ref="Console" />
	</root>

</configuration>