/*
* ====== Base ======
*/
body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body,
#root {
  height: 100%;
  min-height: 100%;
}

.formDescription {
  font-size: 20px;
  color: #373737;
  margin: 20px 0 40px;
  line-height: 1.5;
  b {
    font-weight: 600;
  }
}

.formGoback {
  width: 55px;
  height: 18px;
  font-size: 14px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.29;
  letter-spacing: normal;
  color: #373737;
  margin: 20px 50px 40px 0;
  text-decoration: underline;
}

.MuiTypography-body1 {
  @media only screen and (max-width: 991px) {
    font-size: 14px !important;
  }
}

.formControl {
  width: 100%;
  margin: 12px 0 24px !important;
  display: flex !important;
  position: relative;
  > div {
    margin: 0;
  }
}

form .MuiGrid-root {
  > .MuiGrid-item {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.MuiFormLabel-root {
  max-width: calc(100% - 84px);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.flexContainerForButton {
  display: flex;
  margin-top: 42px;
  > * {
    width: auto;
    flex: 1;
    margin: 0;
    align-items: center;
  }
  button {
    margin: 0;
  }
  > span {
    font-size: 16px;
    color: #517085;
    a {
      color: inherit;
      text-decoration: underline;
    }
  }
}

.circle {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin-left: 9px;
  width: 21px;
  height: 21px;
  border: 1px solid #fff;
}

.flexAlignCenter {
  display: flex;
  align-items: center;
}

.MuiFormLabel-root.Mui-error {
  color: #666666 !important;
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

.MuiSelect-select.Mui-disabled {
  background-color: #f9f9f9;
}

.MuiOutlinedInput-root.Mui-disabled .MuiOutlinedInput-notchedOutline {
  border-color: rgba(194, 194, 194, 0.56) !important;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.linkContainer {
  text-align: right;
  a {
    display: inline-block;
  }
}

.mb-25 {
  margin-bottom: 25px !important;
}

.mt-25 {
  margin-top: 25px !important;
}

.paper {
  border-radius: 8px;
  box-shadow: 0 5px 21px 0 rgba(0, 0, 0, 0.03);
  border: solid 1px #e8e8e8;
  margin: 10px 0;
  padding: 0 46px 46px;
}

.box-group-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.centeredText {
  text-align: center;
}

._react_fileupload_form_content {
  width: 130px;
  height: 32px;
  border-radius: 21px;
  border: solid 1px #373737;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  text-align: center;
  color: #373737;
  cursor: pointer;
  line-height: 2.2;
}

#Progress_Status {
  width: 50%;
  background-color: #e8e8e8;
}

#myprogressBar {
  height: 4px;
  border-radius: 3px;
  background-color: #373737;
  text-align: center;
  line-height: 32px;
  color: black;
}

#Progress_Status,
#progressStatus {
  display: inline-block;
}

#progressStatus {
  padding-left: 11px;
}
