{
  "extends": ["react-app", "plugin:import/errors", "prettier"],
  "rules": {
    "quotes": ["error", "double"],
    "max-len": [
      "error",
      { "code": 120, "ignoreUrls": true, "ignoreStrings": true }
    ],
    "id-length": "error",
    "no-debugger": "warn",
    "no-console": ["warn", { "allow": ["warn", "error"] }],
    "object-shorthand": "error"
  }
}
