{
  "extends": [
    "react-app",
    "plugin:flowtype/recommended",
    "plugin:import/errors",
    "prettier",
    "prettier/flowtype"
  ],
  "plugins": ["flowtype"],
  "rules": {
    "quotes": ["error", "double"],
    "flowtype/no-types-missing-file-annotation": 2,
    "max-len": [
      "error",
      { "code": 120, "ignoreUrls": true, "ignoreStrings": true }
    ],
    "id-length": "error",
    "no-debugger": "warn",
    "no-console": ["warn", { "allow": ["warn", "error"] }],
    "object-shorthand": "error"
  }
}
