html {
  --white: white;
  --dark-grey-blue: #263d4c;
  --light-gray: #707070;
  --silver: #c6c6cc;
  --light-gold: #fcfaf6;
  --pale-grey: #e9e9ed;
  --dark-grey: #373737;
  --silver-two: #eaeced;
  --cobalt: #16216a;
  --metallic-blue: #517085;
  --tomato: #ec2d1b;
  --green: #00c8a3;
}
